body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.sec {
  position: relative;
  height: 100vh;
  width: 100%;
}

.homeSec, .section3, .section5, .section7 {
  background: #f5c0b0;
  z-index: -1;
  color: #ffff;
}

.section2, .section4, .section6 {
  background: #feede6;
  z-index: -1;
  color: #1b2021;
}

/* Home Section */
.homeSec {
  padding: 4% 8%;
}

.bigHeading {
  font-size: 8.5rem;
  color: #ffff;
  width: 56%;
  z-index: 1;
}

.bg-img {
  position: absolute;
  width: 60%;
  right: 0;
  bottom: 0;
  background: url("../images/bgImg.jpg");
  background-size: cover;
  z-index: -1;
}

/* Section 2 */
.section2 {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec2-text {
  position: absolute;
  font-size: 4rem;
  color: #1b2021;
  text-transform: uppercase;
  letter-spacing: 10px;
}

strong {
  color: #1d89aa;
}

.sec2-text:nth-child(1) {
  top: 6%
}

.sec2-text:nth-child(2) {
  bottom: 4%
}

.boyFace {
  width: 340px;
}

.mask {
  position: absolute;
  display: none;
}

.mask-img {
  height: 160px;
}

/* .section 3, 4, 5, 6 and 7 Collective Styles  */
.content {
  width: 85%;
  margin: auto;
  padding: 3%;
}

.secImg {
  position: absolute;
  bottom: 0;
  width: 55%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.secHeading {
  font-size: 7rem;
  text-align: center;
  margin: 2%;
}

.secTxt {
  font-size: 2.2rem;
  margin-right: 5%;
}

.secList li {
  font-size: 2rem;
  color: #ffff;
}

.section4 .secList li, .section6 .secList li {
  color: #1b2021;
}

/* Section3 */
.section3 .secImg {
  width: 60%;
}

.section3 .content {
  width: 90%;
}

.bubble {
  width: 260px;
  height: 260px;
  font-size: 1.5rem;
  border-radius: 50%;
  align-items: center;
  display: flex;
  text-align: center;
  background: #f5f5f5;
  color: #f5c0b0;
  padding: 10%;
  box-shadow: inset 0 0 20px #96c5e1;
  position: relative;
  opacity: 0;
  transform: translateY(-50px);
  transition: all 500ms ease-out;
}

.bubble1, .bubble4 {
  bottom: -50%;
}

/* Section4 */
.section4 .secHeading {
  margin-top: 0;
  padding-top: 4%;
  letter-spacing: 10px;
}

.sec4-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.sec4-txt {
  margin-right: 2%;
  width: 20%;
  font-size: 2rem;
  text-align: center;
  opacity: 0;
  transform: translateX(-500px);
  transition: all 500ms ease-out;
}

.sec405 {
  opacity: 1;
}

.sec4img {
  width: 80%;
}

/* Section5 */
.section5 p {
  font-size: 2rem;
  margin-top: 3%;
}

.sec5Img {
  width: 62%;
  float: left;
  shape-outside: circle();
}

/* Section6 */
.section6 .secTxt {
  text-align: justify;
}

/* Section7 */
.section7 {
  background: #fbdfbc;
}

.section7 .secImg {
  width: 40%;
}

/* Media Queries */
@media (max-width: 1366px) {
  .secImg {
    width: 45%;
  }

  .secHeading {
    font-size: 4.5rem;
  }

  .secTxt {
    font-size: 1.8rem;
  }

  .secList li {
    font-size: 1.5rem;
  }

  .section3 .secImg {
    width: 50%;
  }

  .row {
    margin-top: 2%;
  }

  .bubble {
    width: 200px;
    height: 200px;
    font-size: 1.2rem;
    padding: 10%;
  }

  .bubble2, .bubble3 {
    top: -20%
  }

  .sec4img {
    width: 55%;
  }

  .sec4-txt {
    font-size: 1.5rem;
  }

  .section5 p {
    font-size: 1.5rem;
  }

  .sec5Img {
    width: 45%;
  }

  .section7 .secImg {
    width: 30%;
  }
}

@media (max-width: 1025px) {
  .section3 .secImg {
    width: 65%;
  }

  .bubble2, .bubble3 {
    top: 0%
  }

  .sec4img {
    width: 90%;
  }

  .sec5Img {
    width: 70%;
  }

  .section7 .secImg {
    width: 50%;
  }
}

@media (max-width: 769px) {
  .bigHeading {
    font-size: 6.5rem;
    width: 60%;
  }

  .sec2-text {
    font-size: 2.5rem;
  }

  .sec2-text:nth-child(1) {
    top: 8%
  }

  .sec2-text:nth-child(2) {
    bottom: 8%
  }

  .boyFace {
    width: 300px;
  }

  .mask-img {
    height: 130px;
  }

  .secHeading {
    font-size: 3.5rem;
  }

  .secTxt {
    font-size: 1.7rem;
  }

  .secList li {
    font-size: 1.4rem;
  }

  .section3 .secImg {
    width: 65%;
  }

  .bubble {
    width: 160px;
    height: 160px;
    font-size: 0.9rem;
    padding: 8%;
  }

  .bubble2, .bubble3 {
    top: auto;
  }

  .sec4-txt {
    font-size: 1.2rem;
  }

  .section5 p {
    font-size: 1.1rem;
  }

  .sec5Img {
    width: 62%;
  }

  .section6 .secImg {
    width: 50%;
  }
}

@media (max-width: 426px) {
  .homeSec {
    text-align: center;
    padding: 4% 8% 0;
  }

  .bg-img {
    width: 100%;
  }

  .bigHeading {
    font-size: 4.5rem;
    width: 100%;
  }

  .boyFace {
    width: 200px;
  }

  .mask-img {
    height: 100px;
  }

  .sec2-text {
    font-size: 1.9rem;
  }

  .sec {
    height: 100vh;
    text-align: center;
  }

  .sec .secImg {
    width: 100%;
  }

  .content {
    width: 90%;
  }

  .secHeading {
    font-size: 2.4rem;
  }

  .secTxt {
    font-size: 1.3rem;
  }

  .secList li {
    font-size: 1rem;
  }

  .row {
    margin-left: 0;
  }

  .section3 .secTxt{
    text-align: left;
  }

  .bubble {
    height: 140px;
    width: 140px;
    margin-bottom: 5%;
    font-size: 0.8rem;
    opacity: 1;
    transform: translateY(0);
  }

  .bubble1{
    top: 10%;
  }

  .bubble2{
    top: -110%;
    right: -48%;
  }

  .bubble3{
    top: -90%;
  }

  .bubble4{
    top: -210%;
    right: -48%;
  }

  .section4 {
    height: 100%;
  }

  .sec4-content {
    display: block;
  }

  .sec4-txt {
    width: 100%;
    font-size: 1.8rem;
    transform: translateX(0);
    opacity: 1;
  }

  .sec4img {
    width: 40%;
  }

  .section5 .secHeading{
    font-size: 2.1rem
  }

  .section5 .secTxt{
    font-size: 1.2rem
  }

  .sec5Img {
    float: none;
    width: 65%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
  }

  .section5 p {
    line-height: 0.9;
    font-size: 1rem;
  }
}
